
<%= render "shared/links"%>

<h1> Login Page </h1>

<p> Click <%= link_to 'Here', teenagers_sign_in_path%> to login as a teenager </p>

<p> Click <%= link_to 'Here', clients_sign_in_path%> to login as a client </p>
