<h1>Frequently Asked Questions</h1>

<ul>
    <li>
        <h2>How to use this website?</h2>
        <p>
            You can go register an account and choose whether you want to post a service or need a service.
            After that you just need to relax and wait for the customers to find you!
            You will then be contacted by the user through email or phone call.
            After that the teenager need to fill in a form in the service page to indicate how have they done the task.
            The client will evaluate the task and send the payment through our website.
        </p> 
    </li>
</ul>