<tr>
  <td><%=applicant.try(:account).try(:username)%></td>
  <td><%=applicant.try(:created_at).try(:strftime, "%b %d, %Y")%></td>
  <% if applicant.account && logged_in_user_or_guest.id == @client_request.account_id && logged_in_user_or_guest().accountable_type == "Client" %>
    <td><%=link_to "Choose Applicant", match_path(@client_request, applicant.account_id), method: :post%></td>
  <%end%>
</tr>
