// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.spacer {
    border-collapse: separate;
    border-spacing: 0 1.5em;
}

.bigger {
  height: 4em;
}
