<p>
  <strong>Description</strong>>
  <%= @profile.description %>
</p>

<p>
  <strong> Phone </strong>
  <%= @profile.phone %>
</p>

<p>
  <strong> Address </strong>
  <%= @profile.address %>
  <%= @profile.address %>
</p>
