<%= render "shared/links"%>

<div class="jumbotron jumbotronb bgbluetomato">
  <h1 class="shading"> BlueTomat<span class="bluetext">o</span> </h1>

  <p class="shading"> BlueTomato is a job matching service for teenagers where they create a profile and are matched to certain jobs offered by clients. </p>
</div>
<%= render "client_requests/index"%>
