<%= render "shared/links"%>
<h1>CustomerService</h1>

<h2>Leave Feedback</h2>
<%= render "messages/form" %>

<table id="public_messages">
    <tr>
        <th>User</th>
        <th>Preview</th>
    </tr>
    <%= render @messages %>
</table>
