<h1>CustomerService#index</h1>

<%= form_for :customer_service, url:{action: "submit_feedback"} do |f| %>
    <p
        <label>Email Address</label><%= f.text_field :email_address %><br>
        <label>Message:</label><br>
        <%= f.text_area :message %><br>
    </p>
     <%= f.submit "Register Now!" %>
<% end %>
