/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require recurring_select
 */
 .breakall {
   word-break:break-all;
 }

 .bgbluetomato {
   background-image: url("/assets/Optimized-btomato.jpeg");
 }

 .bgbrighttomato {
   background-image: url("/assets/bizzare.jpeg");
   background-color: rgba(255, 255, 255, 0.8);
   background-blend-mode: exclusion;
   border-radius: 25px;
   /*opacity: 0.9;*/
 }

 .jumbotronb {
   background-size: 90%;
   background-position: top;
   background-attachment: fixed;
   min-height: 500px;
 }

 .largepic {
   background-size: 90%;
   width: 100%;
   min-height: 400px;
 }

 .divider {
   margin: 1em;
 }
 .shading {
   background-color: rgba(255, 255, 255, 0.7);
 }

 .strongshading {
   background-color: rgba(255, 255, 255, 0.95);
 }

 .bluetext {
   color: rgb(80, 180, 200);
 }

 .fixing {
   position: fixed;
   width: 30em;
 }

@media only screen and (max-width: 1000px) {
  .container {

  }
  .divider {
    margin: 0.5em;
  }
  .jumbotronb {
   min-height: 300px;
  }

  .fixing {
   width: 20em;
   min-width: 100px;
  }
}

@media only screen and (max-width: 800px) {
  [class*="col-"] {
    width: 100%;
  }
  .fixing {
    top: 10px;
    position: relative;
    width: 100%;
  }
}
